/*
========================================================
    BROWSER RESET - gebaseerd op html5 doctor css reset
     http://html5doctor.com/html-5-reset-stylesheet
========================================================
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block;
}
nav ul {
    list-style: none;
}
ul {
    margin-left: 1.1em;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    display: block;
    height: 0px;
    border: 1;
    border-top: 0px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
input,
select {
    vertical-align: middle;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
/*     EINDE BROWSER RESET */
/*
========================================================
    GENERAL
========================================================
*/
html {
    font-family: 'Digital-7';
}

body {
    background-color: #f9f7f4;
    min-width: 375px;
    min-height: 559px;
    max-width: 375px;
    max-height: 559px;
}

h1 {
    text-align: center;
    color: #e2251d;
}

h2 {
    text-align: center;
    color: #ffffff;
}

h3 {
    font-family: 'Scala-sans';
    text-align: center;
    color: #e2251d;
}

p {
    font-family: 'Scala';
}

ul {
    list-style-type: none;
}
/*
========================================================
    MAIN NAV
========================================================
*/
#maintitle {
    font-size: 48px;
    font-weight: normal;
    color: #000000;
}

#online {
    color: #e2251d;
}

#minortitle {
    font-size: 13px;
    color: #e2251d;
    padding-bottom: 12px;
}

#transport {
    font-size: 37px;
    color: white;
    width: 187px;
    line-height: 164px;
    background-color: #e2251d;
}

#recipe {
    font-size: 37px;
    color: white;
    width: 188px;
    line-height: 164px;
    margin-left: 187px;
    background-color: #e2251d;
}

#phrases {
    font-size: 37px;
    color: white;
    width: 187px;
    line-height: 164px;
    background-color: #e2251d;
}

#menu1 {
    float: right;
    width: 188px;
    height: 164px;
}

#menu2 {
    float: left;
    width: 187px;
    height: 164px;
}

#menu3 {
    float: right;
    width: 188px;
    height: 164px;
}
/*
========================================================
    MENU
========================================================
*/
.toptitle {
    font-size: 48px;
}

.lowertitle {
    width: 375px;
    font-size: 24px;
    background-color: #e2877e;
    height: 40px;
    line-height: 40px;
}

.menuleft {
    float: left;
    width: 187.5px;
    line-height: 40px;
    background-color: #e2877e;
}

.menuleftselected {
    float: left;
    color: #e2251d;
    width: 187.5px;
    line-height: 40px;
    background-color: #e2877e;
}
.menuright {
    line-height: 40px;
    background-color: #e2877e;
}

.menurightselected {
    color: #e2251d;
    line-height: 40px;
    background-color: #e2877e;
}
/*
========================================================
    SCROLL MENU
========================================================
*/
.space {
    height: 107px;
    background-color: #f9f7f4;
}

.toptitlescroll {
    position: fixed;
    width: 375px;
    font-size: 48px;
    background-color: #f9f7f4;
}

.lowertitlescroll {
    position: fixed;
    top: 67px;
    width: 375px;
    font-size: 24px;
    background-color: #e2877e;
    height: 40px;
    line-height: 40px;
}

.menuleftscroll {
    position: fixed;
    bottom: 0px;
    width: 187.5px;
    line-height: 40px;
    background-color: #e2877e;
}

.menuleftselectedscroll {
    position: fixed;
    bottom: 0px;
    color: red;
    width: 187.5px;
    line-height: 40px;
    background-color: #e2877e;
}
.menurightscroll {
    position: fixed;
    bottom: 0px;
    margin-left: 187.5px;
    width: 187.5px;
    line-height: 40px;
    background-color: #e2877e;
}

.menurightselectedscroll {
    position: fixed;
    bottom: 0px;
    color: red;
    margin-left: 187.5px;
    width: 187.5px;
    line-height: 40px;
    background-color: #e2877e;
}

.homescroll {
    position: fixed;
    top: 72px;
    left: 10px;
    width: 30px;
    z-index: 1;
}

.mapscroll {
    position: fixed;
    bottom: 5px;
    left: 10px;
    width: 30px;
    z-index: 1;
}

.addressscroll {
    position: fixed;
    bottom: 3px;
    left: 198px;
    width: 30px;
    z-index: 1;
}
/*
========================================================
    BUTTONS
========================================================
*/
.home {
    position: absolute;
    top: 72px;
    left: 10px;
    width: 30px;
}

.map {
    position: absolute;
    top: 524px;
    left: 10px;
    width: 30px;
}

.address {
    position: absolute;
    top: 524px;
    left: 198px;
    width: 30px;
}
/*
========================================================
    CONTENT
========================================================
*/
label {
    font-family: 'Scala-sans';
    text-align: center;
    color: #e2251d;
}
.phrasesleft {
    float: left;
    text-align: center;
    width: 187.5px;
}

.phrasesright {
    float: right;
    text-align: center;
    width: 187.5px;
}

.fontscala {
    font-family: 'Scala';
}

.center {
    text-align: center;
}

.red {
    color: #e2251d;
}
.textmargin {
    margin-left: 40px;
    margin-right: 40px;
}

.topmargin {
    margin-top: 10px;
}

.bottommargin {
    margin-bottom: 10px;
}

.nobottommargin {
    margin-bottom: 0px;
}
.noline {
    text-decoration: none;
}
.adjusttitle {
    padding-bottom: 24px;
}

.block {
    display: block;
}

.strikethrough:checked + span {
    text-decoration: line-through;
}
/*
========================================================
    MAP
========================================================
*/
#myMap {
    height: 412px;
    width: 375px;
}
/*
========================================================
    HARMONICA
========================================================
*/
.harmonica {
    margin: 10px 0px 0px 0px;
    border: 1px;
    border-top-style: dashed;
    border-bottom-style: dashed;
    border-color: red;
}

.harmonica input {
    position: absolute;
    display: none;
}

.harmonica label {
    display: block;
    width: 100%;
}

.harmonica label:after {
    /*    pijltje omlaag */
    content: '\25BC';
    float: right;
    display: none;
}

.harmonica input:not(:checked) ~ *:not(label) {
    display: none !important;
}

.harmonica input:checked ~ label:after {
    /*    pijltje omhoog */
    content: '\25B2';
}
